.banners{
    align-items: center;
    display: flex;
    padding-top: 9.7rem ;
    position: relative;
    overflow: hidden;
}

.banner-slide{
    align-items: center;
    display: flex;
    position: relative;
}

.banner-slide__item{
    flex-shrink: 0;
    padding: 0 1rem 3rem;
    position: relative;
    width: 91vw;
}

.banner-slide__link{
    position: relative;
}

.banner-slide__link::before{
    border: .4rem solid rgb(255, 255,255, 0);
    border-radius: .5rem;
    content: '';
    position: absolute;
    inset: 0;
    transition: border .3s;
}

.banner-slide__link:hover::before{
    border-color:rgb(255, 255,255, 0.7);
}

.banner-slide__cover{
    display: block;
    box-shadow: #000 0rem 2rem 3rem -2rem;
    border-radius: .5rem;
    width: 100%;
}

.banner-slide__title{
    animation:  slideLeft 1s;
    left: 0;
    width: 100%;
    top: 0;
    position: absolute;
    display: none;
}

.banner-slide__title.active{
    display: block;
}
.banners .arrow-slider{
    margin-top: -3rem;
    position: absolute;
    z-index: 2;
}
.banners .arrow-slider--left {
    left: 3.6rem;
}
.banners .arrow-slider--right{
    right: 3.6rem;
}

.banners .controls-slider{
    bottom: 4.6rem;
    right: 11.6rem;
}

@media screen and (max-width: 1024px){
    .banners{
        padding-top: 8.2rem ;
    }

    .banner-slide__item{
        width: 85vw;
    }

    .banners .arrow-slider--left {
        left: 1rem;
    }

    .banners .arrow-slider--right{
        right: 1rem;
    }

    .banners .controls-slider{
        bottom: 3.2rem;
        right: 50%;
        transform: translateX(50%);
    }
}